

<div id="background" class="jumbotron text-center">
  <p>Time Left:</p>
  <h1 id="timer" class="giant_text">{{tick}}</h1>
  <div>
    <a class="btn btn-primary vert_spacer" (click)="resetTime()">Reset Timer</a>
  </div>

    <p>Stopwatch Settings</p>

      <div class="checkbox">
        <label><input type="checkbox" id="numbers" name="optradio" (click)="changeSettings('numbers')">Show Numbers</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id="flashing" name="optradio" (click)="changeSettings('flashing')">Warning Flashes</label>
      </div>
      <div class="checkbox vert_spacer">
        <label><input type="checkbox" id="sounds" name="optradio" (click)="changeSettings('sounds')">Play Sounds</label>
      </div>

      <h5>Number of Beeps:</h5>
      <select (change)="changeBeepCount($event.target.value)" class="form-control selector_size vert_spacer" id="players">
        <option value="0">Spawn Only</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option selected value="5">5</option>
        <option value="10">10</option>
      </select>


  <!-- Silly old code. -->
  <!-- <div class="radio">
    <label><input type="radio" id="opt4" name="optradio" (click)="opt4()">No Numbers</label>
  </div>
  <div class="radio">
    <label><input type="radio" id="opt6" name="optradio" (click)="opt6()">Countdown Beeps</label>
  </div>
  <div class="radio">
    <label><input type="radio" id="opt2" name="optradio" (click)="opt2()">Just End Beep</label>
  </div>
  <div class="radio">
    <label><input type="radio" id="opt3" name="optradio" (click)="opt3()">Mute All Sounds</label>
  </div>
  <div class="radio vert_spacer">
    <label><input type="radio" id="opt5" name="optradio" (click)="opt5()">No Numbers (Muted)</label>
  </div> -->
  <!-- <br>
  <h6><u>Potential Future Content:</u></h6>
  <h6>- Fix sounds not playing on occasion</h6>
  <h6>- Keybindings</h6>
  <h6>- Pause/unpause the timer</h6> -->
</div>
<h6 class="text-center ad_text vert_spacer2">DB Timer — created by <a href="https://www.reddit.com/u/Rauthospoon/">Dr. Rauthospoon</a>.</h6>
