<div class="jumbotron text-center">
  <h1>DB Timer</h1>
  <p class="lead">Pick a gamemode:</p>
  <div>
    <a class="btn btn-default" [routerLink]="['/objective']">Objective Mode</a> <a class="spacer btn btn-primary" [routerLink]="['/stopwatch']">Stopwatch Mode</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>A simple spawn timer.</h3>
    <p>A simple yet effective web application for helping you remember your spawn times in Dirty Bomb.</p>
  </div>
  <div class="col-md-4">
    <h3>Sounds & visuals included.</h3>
    <p>Want a countdown? You've got it. Visual queues? Also included. Focus on your game and let DB Timer do the work.</p>
  </div>
  <div class="col-md-4">
    <h3>Don't like loud beeps?</h3>
    <p>Feel free to mute them!! The integrated settings let you change sounds and visual queues on the fly.</p>
  </div>
  <!-- <div class="col-md-3">
    <h3>What are you waiting for?</h3>
    <p>Check it out! See if it helps you improve your game.</p>
  </div> -->
</div>
<h6 class="col-md-12 text-center vert_spacer_home">DB Timer — created by <a href="https://www.reddit.com/u/Rauthospoon/">Dr. Rauthospoon</a>.</h6>
