<div class="jumbotron text-center">
  <h1>DB Timer</h1>
  <p class="lead">Pick a gamemode:</p>
  <div>
    <a class="btn btn-default" [routerLink]="['/objective']">Objective Mode</a> <a class="spacer btn btn-primary" [routerLink]="['/stopwatch']">Stopwatch Mode</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>A simple spawn timer.</h3>
    <p>A simple yet effective web application for helping you remember your spawn times in Dirty Bomb.</p>
  </div>
  <div class="col-md-4">
    <h3>Sounds & visuals included.</h3>
    <p>Want a countdown? You've got it. Visual queues? Also included. Focus on your game and let DB Timer do the work.</p>
  </div>
  <div class="col-md-4">
    <h3>Don't like loud beeps?</h3>
    <p>Feel free to mute them! The integrated settings let you change sounds and visual queues on the fly.</p>
  </div>
  <!-- <div class="col-md-3">
    <h3>What are you waiting for?</h3>
    <p>Check it out! See if it helps you improve your game.</p>
  </div> -->
</div>
<div class="col-md-12 vert_spacer2">
  <h6 class="text-center vert_spacer2">DB Timer — created by <a href="https://www.reddit.com/u/Rauthospoon/">Dr. Rauthospoon</a>. — v 0.9.2.</h6>
</div>

<div class="col-md-12 vert_spacer2 text-center">
  <br><br><h6><u>Potential Future Updates:</u></h6>
  <h6>- Fix sounds not playing on mobile (iOS tested, still borked)</h6>
  <h6>- Fix sounds not playing on occasion</h6>
  <h6>- Fix /stopwatch & /objective refreshes breaking pages</h6>
  <h6>- Keybindings for reset timer / settings changes</h6>
  <h6>- Pause/unpause the timer</h6>
  <h6>- (Objective Mode) Make sure Objective timer(s) are accurate times (Currently 3.75s per player)</h6>
  <h6>- (Objective Mode) Enemy spawn timer option with own settings, etc.</h6><br><br>
</div>
