/* Some bootstrap overrides for coloring */
.navbar-light{
  background: rgb(207,166,40);
  margin-bottom: 25px;
}

.navbar-brand, a.nav-link, .nav.navbar-nav li a {
   color: rgb(34,34,34) !important;
 }

a.active, .navbar-brand:hover, .navbar-brand:focus, a.nav-link:hover, a.nav-link:focus {
 color: white !important;
}
