<div id="background" class="jumbotron text-center">
  <p>Time Left:</p>
  <h1 id="timer" class="giant_text text-center">{{tick}}</h1>
  <div>
    <a class="btn btn-primary vert_spacer" (click)="resetTime()">Reset Timer</a>
  </div>

  <p>Objective Settings</p>

  <h5>Players:</h5>
  <select (change)="changePlayerCount($event.target.value)" class="form-control selector_size" id="players">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option selected value="8">8</option>
  </select>

  <div class="checkbox">
    <label><input selected type="checkbox" id="numbers" name="optradio" (click)="changeSettings('numbers')">Show Numbers</label>
  </div>
  <div class="checkbox">
    <label><input selected type="checkbox" id="flashing" name="optradio" (click)="changeSettings('flashing')">Warning Flashes</label>
  </div>
  <div class="checkbox vert_spacer">
    <label><input selected type="checkbox" id="sounds" name="optradio" (click)="changeSettings('sounds')">Play Sounds</label>
  </div>

  <h5>Number of Beeps:</h5>
  <select (change)="changeBeepCount($event.target.value)" class="form-control selector_size vert_spacer" id="players">
    <option value="0">Spawn Only</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option selected value="5">5</option>
    <option value="10">10</option>
  </select>

  <p>Volume at <span class="pop_text">{{myVolume}}%</span>.</p>
  <!-- Freaking sliders + Angular 2. I'll get back to this. -->
  <!-- <input id="vol-control" type="range" min="0" max="100" step="1" value="25"> -->
  <h5>Change Volume:</h5>
  <input class="selector_size form-control vert_spacer" type="text" id="vol-control" value="25" (change)="changeVolume($event.target.value)">

  <h5>Change Beep Sound:</h5>
  <select (change)="changeSound($event.target.value)" class="form-control selector_size vert_spacer" id="soundEffect">
    <option selected value="0">Default Beeps</option>
    <option value="1">Sci-Fi Respawn</option>
    <option value="2">Glitch In The DB</option>
    <option value="3">8-Bit Throwback</option>
    <option value="4">Car Horns</option>
  </select>

</div>


<div class="col-md-12 vert_spacer2">
  <h6 class="text-center">DB Timer — created by <a href="https://www.reddit.com/u/Rauthospoon/">Dr. Rauthospoon</a>. — v 0.9.3.</h6>
</div>
